# Python Virtual Environments
venv/
env/
__pycache__/

# Datasets (Crucial for Member 3 and Member 4)
ml_engine/data/raw/
ml_engine/data/processed/
cv_module/dataset/

# Serialized ML Models (to prevent GitHub file size limits)
*.pkl
*.h5
*.pt